*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: "";
}

html{
    font-size: 62.5%;
}

.home-img img{
    width: 700px;
    height: auto;
}

body{
    width: 100%;
    overflow-x: hidden;
    background-color: white;
    color:black;
}

header{
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 3rem;
    color: rgb(75 173 136);
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover{
    transform: scale(1.1);
}

nav a{
    font-size: 1.8rem;
    color: black;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active{
    color: rgb(75 173 136);
    border-bottom: 3px solid rgb(75 173 136);
}

@media(max-width:900px){
    nav{
        position: absolute;
        top: 100%;
        right: 0;
        width: 40%;
        border-left: 3px solid rgb(75 173 136);
        border-bottom: 3px solid rgb(75 173 136);
        border-bottom-left-radius: 2rem;
        padding: 1rem solid;
        background-color: black;
        border-top: 0.1rem solid black;
    }
}
nav a{
    font-size: 1.8rem;
    color: black;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav.active{
    display: block;
}



nav a:hover,
nav a.active{
    padding: 1rem;
    border-radius: 0.5rem;
    border-bottom: 0.5rem solid rgb(75 173 136);
}

section{
    min-height: 100vh;
    padding: rem 9% 5rem;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7rem   ;
    background-color: white;

}

.home .home-content h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;

}

span{
    color: rgb(75 173 136);

}

.home .home-content h3{
    font-size: 4rem;
    margin-bottom: none;
    font-weight: 700;
}

.home-img{
    border-radius: 50%;
}

.home-img img{
    position: relative;
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px solid rgb(75 173 136);
    cursor: pointer;
    transition: 0.2s linear;
}

.home-img img:hover{
    font-size: 1.8rem;
    font-weight: 500;
}



.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: white;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: black;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid black;
    transition: 0.3s ease;
    cursor: pointer;

}

.btn:hover{
    transform: scale3d(1.03);
    background-color:rgb(75 173 136) ;
    color: white;
    box-shadow: 0 0 25px rgb(75 173 136);

}


.typing-text {
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
    width: 500px; /* Add this - adjust value as needed */
    text-align: left; /* Optional: align text to left */
}

.typing-text span{
    position: relative;
}



.typing-text span::before{
    content: "";
    color: rgb(75 173 136);
    animation: words 20s infinite;  
}

.typing-text span::after{
    content: "";
    background-color: white;
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid white;
    right: -8;
    animation: cursor 0.6s infinite;

}



@keyframes cursor{
    to{
        border-left: 3px solid rgb(75 173 136);
    }
}
@keyframes words{
    0%, 33%{
        content: "UBC Student";
    }
    34%, 67%{
        content: "Beginner Software Developer";
    }
    68%, 100%{
        content: "Web Developer";
    }
}

.experience, .education, .about-me{
    padding: 7rem 9% 5rem;
    background-color: white;
}

.experience h2, .education h2, .about-me{
    font-size: 3rem;
    color: rgb(75 173 136);
    text-align: center;
    margin-bottom: rem;
    font-weight: 700;
}

.experience-content, .education-content, .about-me-paragraph{
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: rem;
}

.experience-item, .education-item{
    background-color: white;

    padding: 3rem;

}

.experience-item p, h3, h4{
    font-size: large;
}

.education-item p, h3, h4{
    font-size: large;
}

.about-me-paragraph{
    font-size: 2rem;
    padding:3rem;
width:fit-content;
margin: 0 auto;

}



